@media screen and (min-width: 600px){
    .late-news{
        .news-post{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .counters{
        .counters-grid{
            grid-template-columns: repeat(3, 1fr);
            &__border{
                border-left: 1px solid white;
                border-right: 1px solid white;
            }
        }

    }
}


@media screen and (min-width: 1000px){
    .late-news{
        .news-post{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}