@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.bigIcon{
    font-size:50px;
}

.greenIcon{
    color: green;
}

/* mokinamės selector'ius */
li{
    font-size: 20px;
}
.class0{
    color: red;
}
#id0{
    color: blue;
}
.class1.class2{
    text-decoration: underline;
}
.class3 .class4{
    text-decoration: line-through;
}
section.class3 *{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1, h3, h2{
    text-align: center;
}
div p{
    color: orange;
}
.class3 > p{
    background-color: aquamarine;
}
a:link{
    color: blue;
}
a:visited{
    color: green;
}
a:active{
    color: red;
}

li:hover{
    background-color: black;
    color: white;
}
.nth_lentele > table{
    border: solid black;
    border-collapse: collapse;
    margin: 0 auto 50px;
    overflow: hidden;
}

.nth_lentele th, .nth_lentele td{
    border: 1px solid black;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    position: relative;
}
.nth_lentele tbody > tr:nth-child(5){
    background-color: yellow;
}
/* komentavimo trumpinys - CTRL / */

.nth_lentele tbody > tr:hover{
    background-color: burlywood;
}

.nth_lentele td:after{
    content: ":)";
}
/* Stulpeliu žymėjimas:
Position
z-index
content
width+height
background-color */

.nth_lentele td:hover::after{
    background-color: aquamarine;
    content: '';
    position: absolute;
    height: 10000px;
    top: -5000px;
    z-index: -1;
    left: 0;
    width: 100%;
}
.nth_lentele th{
    background-color: white;
}