@use 'vars' as v;

body{
    font-family: 'Montserrat', sans-serif;
}

.btn{
    border: none;
    background-color: v.$primary-color;
    color: v.$primary-light-color;
    font-size: 1rem;
    padding: 0.8em 1.5em;
    border-radius: 2em;
    border: 1px solid v.$primary-color;  
}
.btn--outline{
    @extend .btn;
    background-color: transparent;
    color: v.$primary-color;
}
.header-pill{
    color: v.$secondary-color;
    background-color: v.$secondary-bg-color;
    display: inline;
    font-size: 0.7rem;
    padding: 0.4em 1.5em;
    border-radius: 2em;
}