@import 'reset';
@import 'vars';

/* Main File */

body{
    font-family: $main-font;

    .container{
        h1{
            color: $primary-color;
            font-size: 3rem;
            font-weight: normal;
        }
        h3{
            font-size: 2.1rem;
            color: $secondary-color;
        }
    }
}