.kvadratas{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: 5px solid black;
    text-align: center;
    line-height: 100px;
}
.flexContainer{
    height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-content: center;
    align-items: center;
    gap: 10px 30px;
}
.pirmasPratimas{
    display: flex;
    gap: 30px;
}
.kvadratai{
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}
.pirmaskvadratas{
    display: flex;
    width: 330px; 
    height: 230px;
}

.antraskvadratas{
    width: 330px; 
    height: 100px;
}

.treciaskvadratas{
    width: 150px; 
    height: 100px;
}

.ketvirtaskvadratas{
    width: 150px; 
    height: 100px;
}
.row1{
    display: flex;
    gap: 30px;
    flex-direction: row;
}
.col1{
    display: flex;
    gap: 30px;
    flex-direction: column;
}

/* BIG FLEX TASK */

.bigFlexTask{
    display: flex;
    flex-wrap: wrap;
    gap:10px
}

.bigTaskContainer{
    width: 300px;
    height: 300px;
    border: 1px solid black;
}
.containerTask1NextLevel{
    display: flex;
    gap: 1px
}
.w33{
    width: 33%;
}
.w66{
    width: 66%;
}
.h33{
    height: 33%;
}
.h66{
    height: 66%;
}
.h50{
    height: 50%;
}
.backgroundBox{
    background-image: url(https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072821__340.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.smallerContainersTask1{
    width: 300px;
    height: 100px;
}
.containerTaskCol{
    display: flex;
    flex-direction: column;
    gap:1px
} 
.containerTaskRow{
    display: flex;
    flex-direction: row;
    gap: 1px;
}
.containerTask2level1{
    display: flex;
    gap:1px
}
.containerFlexTask2{
    display: flex;
    flex-direction: column;
    gap:1px
}
.containerFlexTask3{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1px;
}
.w40{
    width: 40%;
}
.w20{
    width: 20%;
}
.w60{
    width: 60%;
}
.h25{
    height: 25%;
}
.h50{
    height: 50%;
}
.containerFlexTask4{
    display: flex;
    flex-direction: row;
    gap: 1px;
}
.containerTask4level1{
    display: flex;
    gap:1px
}
.containerTask4level2{
    display: flex;
    flex-direction: column;
    gap:1px
}
.containerTask5level1{
    display: flex;
    gap:1px
}
.containerTask5level2{
    display: flex;
    flex-direction: column;
    gap:1px;
}

.w50{
    width: 50%;
}
.containerTask5level3{
    display: flex;
    gap:1px
}
.w100{
    width: 100%;
}
.h100{
    height: 100%;
}
.containerTask5Row{
    display: flex;
    gap:1px
}
.containerTask7Row{
    display: flex;
    gap: 1px;
}
.containerTask7Col{
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.h75{
    height: 75%;
}
.w75{
    width: 75%;
}
.h25{
    height: 25%;
}
.w25{
    width: 25%;
}
.containerTask7RowRev{
    display: flex;
    flex-direction: row-reverse;
    gap: 1px;
}

.containerTask8Row{
    display: flex;
    gap: 1px;
}
.containerTask8Col{
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.containerTask9Col{
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.containerTask9Row{
    display: flex;
    gap: 1px;
}
.h17{
    height: 17%;
}
.containerTask10Col{
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.containerTask10Row{
    display: flex;
    gap: 1px;
}
.containerTask10RowRev{
    display: flex;
    flex-direction: row-reverse;
    gap: 1px;
}